.button-img-upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-weight: bold;
    gap:10px;
    font-size: 16px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
    border-radius: 0.3125rem;
    background-color: #C3C3C3;
    border: 0;
    width: 10.625rem;
    height: 2.5625rem;
}