.container {
    display: flex;
    align-items: stretch;
    justify-content: center;

}

.post {
    width: 1097px;
    background-color: white;
    display: flex;
    margin-top: 50px;
}

.leftAndRight {
    display: grid;
    grid-template-columns: 82px auto;
    align-items: stretch;
}

.ownleftSide {
    background-color: #9C9C9C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vote img {
    width: 50px;
    height: 50px;
}

.vote h2 {
    color: white;
    margin: 0;
}

.arrowUp {
    margin-top: 1rem;
}

.rightSide {
    margin-left: 3em;
}

.rightSide h1 {
    margin: 0;
    margin: 10px 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleAndCategoties {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editDelete {
    display: flex;

    align-items: center;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 132px;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 20px;


}


.delete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 132px;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.postContent {
    width: 778px;
}

.image {
    background-color: #d9d9d9;
    width: 136px;
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: row;
}

.categories p {
    font-weight: bold;
    margin: 0px;
    margin-right: 10px;
    font-size: 13px;
}

.mainCategories {
    display: flex;
    background-color: #b1b1b1;
    width: 73px;
    height: 25px;
    border-radius: 50px;
    justify-content: center;
    border: 3px solid #b1b1b1;
    align-items: center;
}

.subCategories {
    display: flex;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 3px solid #b1b1b1;
    color: #b1b1b1;
}

.line {
    width: 956px;
    border: 2px solid #a5a5a5;
}

.likeAndComment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like,
.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -7px;
}

.commentImg {
    margin-right: 10px;
}

.comment {
    border: none;
    background-color: #fff;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.like {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.like p,
.comment p {
    margin-left: 7px;
}

.userComment {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.userComment p {
    margin: 10px 70px 10px 0;
}

.user {
    font-weight: bold;
}