.ownYellowColor {
    background-color: #A08351;
}

.delete,
.edit {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.editContent {
    min-width: 75%;
    min-height: 150px;
    flex: 1
}