.ownYellowColor {
    background-color: #A08351;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 7px;
}

.delete,
.edit {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.editContent {
    min-width: 75%;
    min-height: 150px;
    flex: 1
}

.post {
    min-width: 1000px;
    background-color: white;
    display: flex;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
}

.buttons {
    display: flex;
    flex-direction: row;
}

.leftAndRight {
    display: grid;
    grid-template-columns: 5rem auto;
    flex: 1;
}

.leftSide {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0.2rem;
    border-radius: 5px;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 10px;
}

.vote h2 {
    color: white;
    margin: 0;
}

.white {
    color: white;
}

.leftSide h5 {
    margin: 0;
}

.arrowUp {
    color: #000;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.titleAndCategories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}

.author {
    width: 100%;
    color: black;
    display: flex;
}

.single_avatar {
    min-width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background-color: black;
    margin-top: 5px;
}

.author h1 {
    margin: 0;
    line-height: 1.1;
    text-align: left;
    font-size: 28pt;
    font-weight: 1200;
}

.mainContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 0 1.5rem 0;
    gap: 8rem;
}

.postContent {
    text-align: start;
    margin: 0;
    font-size: 12pt;
    flex: 1;
}

.image img {
    flex: 1;
    min-width: 120px;
    max-width: 120px;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    object-fit:cover;
}

.categories {
    display: flex;
    flex-direction: row;
}

.categories p {
    font-weight: bold;
    font-size: 10pt;
}

.mainCategories {
    display: flex;
    background-color: #1E555C;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    height: 1.8rem;
    padding: 0 1.5rem;

}

.subCategories {
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 3px solid #b1b1b1;
    color: #b1b1b1;
}

.line {
    border: 0.5px solid #D4D4D4;
}

.likeAndComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    padding: 2rem 0rem 1rem 0;
    gap: 1rem;
}

.like,
.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.comment {
    border: none;
    background-color: #fff;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.like:hover,
.comment:hover {
    cursor: pointer;
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userComment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 0;
}

.commentUsername {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.singleComment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.commentText {
    text-align: start;
}

.user {
    font-weight: bold;
    text-align: start;
    /* Add this line to give the user comment a margin-right */
}