.commentContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.commentPopup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    padding: 1rem 2rem 2rem;
    border-radius: 10px;
    background-color: white;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    width: "100%";
    /* background-color: red; */
    padding: 1rem 0;
}

.commentCardTitle {
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}

.countWord {
    font-size: 12pt;
    font-weight: bold;
    color: #CCC5B9;
}

.closeButton {
    background-color: transparent;
    border: none
}

.commentInput {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 10rem;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1rem;
    border-radius: 5px;
    border-style: none;
    background-color: #EDEDED;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.wordCount {
    color: #000;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.postCommentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #1E555C;
    border: none;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
    height: 41px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
}

.postImageCommentButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.closeButton,
.postCommentButton:hover {
    cursor: pointer;
}