.search_container {
    display: flex;
    flex-direction: row;
    height: 7em;
    gap: 10px;
    position: relative;
    background-color: #F1F1F1;
    padding: 0 3rem;
    width: auto;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
    right: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    /* min-width: 1000px; */
}

.button {
    background-color: #D4D4D4;
    border: none;
    border-radius: 50px;
    min-width: 160px;
    height: 40px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

.clicked {
    background-color: #1E555C;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.searchbigcontainer {
    flex: 1;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: none;
    border: 1px solid #000;
    border-radius: 5px;
    /* min-width: 300px; */
    max-width: 900px;
    height: 40px;
    padding: 0.5em;
    flex: 1;
}

.search-input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 960px) {
    .searchbigcontainer {
        display: none;
    }

    .button {
        width: 30%;
        min-width: 50px;
    }

    .button-container {
        gap: 0;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 650px) {
    .searchbigcontainer {
        display: none;
    }

    .button {
        width: 30%;
        min-width: 50px;
        font-size: 3vw;
    }

    .button-container {
        gap: 0;
        justify-content: space-between;
    }

    .search_container {
        padding: 0 1rem;
    }
}