* {
    box-sizing: border-box;
}

.App {
    background: #F1F1F1;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
}

.postList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    gap: 2rem;
    margin-top: 8em;
    padding: 1rem 3rem;
}